.skills__container {
  row-gap: 2rem;
}
.skill__subtitle {
  font-size: var(--h3-font-size);
  color: var(--first-color-dark);
  margin-bottom: var(--mb-3);
}
.skills__data {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 var(--mb-2);
  margin-bottom: var(--mb-4);
}

.skills__bar {
  position: absolute;
  bottom: -0.75rem;
  height: 0.25rem;
  background-color: var(--first-color);
}
.skills__html {
  width: 80%;
}

.skills__js {
  width: 90%;
}

.skills__react {
  width: 80%;
}

.skills__php {
  width: 80%;
}

.skills__node {
  width: 70%;
}

.skills__firebase {
  width: 90%;
}

.skills__python {
  width: 60%;
}
